*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html {
  padding: env(safe-area-inset);
}

html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
  margin: 0 auto !important;
}

body {
  margin: 0 auto;
  padding: 0px;
  -webkit-outline: none;
  outline: none;
  position: relative;
  min-width: 320px;
  max-height: 1000000px;
  min-height: 100vh;
  text-decoration-skip: objects;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

:focus,
:active,
:hover,
:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-focus-ring-color: rgba(0, 0, 0, 0) !important;
  -webkit-outline: none;
  outline: none;
}

ul,
ol {
  list-style-position: inside;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

li {
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

iframe {
  display: block;
  border: none;
}

img {
  display: block;
  border: none;
  max-width: 100%;
}

textarea {
  white-space: pre-wrap;
  resize: none;
}

button,
select {
  display: block;
  padding: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-family: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-transform: none;
}

button {
  width: auto;
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border: none;
  padding: 0;
}

[type=search],
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  -webkit-outline: none;
  outline: none;
}

[type=search]::-webkit-search-decoration,
::-webkit-file-upload-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label,
textarea,
input {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  font-variant-ligatures: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[hidden],
::-ms-clear,
area {
  display: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  padding: 0;
}

menu,
dir {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-input-placeholder {
  color: inherit;
}

:-ms-input-placeholder {
  color: inherit;
}

::-moz-input-placeholder {
  color: inherit;
}

::-moz-placeholder {
  color: inherit;
}

:-moz-placeholder {
  color: inherit;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  -webkit-outline: none;
  outline: none;
  text-decoration-skip-ink: none;
}

[type=date]::-webkit-inner-spin-button {
  display: none;
}

[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

body {
  font-family: "Involve";
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-variant-ligatures: none;
}
@media (max-width: 1549px) {
  body {
    font-size: 14px;
    line-height: 18px;
  }
}
body.modal-open, body.hidden {
  overflow: hidden;
}
.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
@media (max-width: 1549px) {
  .container {
    max-width: 1220px;
    padding: 0 10px;
  }
}

label,
textarea,
input {
  font-family: "Involve";
}

div {
  scrollbar-color: rgba(255, 255, 255, 0.33) transparent;
  scrollbar-width: thin;
}
div::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
  left: 5px;
}
div::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: rgba(255, 255, 255, 0.33);
  border-radius: 10px;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
}
.site-wrapper footer,
.site-wrapper .footer {
  margin-top: auto;
}

.logo {
  cursor: pointer;
  position: relative;
  transition: transform 0.3s;
  min-width: 112px;
  width: 112px;
  height: 112px;
  background-color: rgb(255, 255, 255);
  padding: 9px;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 1549px) {
  .logo {
    width: 80px;
    height: 80px;
    min-width: 80px;
  }
}
@media (max-width: 1199px) {
  .logo {
    width: 65px;
    height: 65px;
    min-width: 65px;
    padding: 5px;
    border-radius: 12px;
  }
}
@media (max-width: 767px) {
  .logo {
    width: 53px;
    height: 53px;
    min-width: 53px;
  }
}
@media (hover: hover) {
  .logo:hover:hover img {
    transform: scale(1.05);
  }
}
.logo picture {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.logo img {
  transition: transform 0.3s;
}

.main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

picture {
  position: relative;
  display: block;
}
picture img {
  position: relative;
}

.picture-block {
  position: relative;
}
.picture-block picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.picture-block picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  padding: 90px 0;
}
@media (max-width: 1549px) {
  section {
    padding: 60px 0;
  }
}
@media (max-width: 1199px) {
  section {
    padding: 50px 0;
  }
}
@media (max-width: 767px) {
  section {
    padding: 40px 0;
  }
}
@media (max-width: 639px) {
  section {
    padding: 30px 0;
  }
}

.section-title {
  display: flex;
}
.section-title .caption {
  text-transform: uppercase;
  width: auto;
}
@media (max-width: 767px) {
  .section-title .caption {
    width: 100%;
  }
}
.section-title .shift {
  display: flex;
  margin-left: 91%;
}
@media (max-width: 767px) {
  .section-title .shift {
    margin-left: 0;
    text-align: right;
    width: 100%;
    display: block;
  }
}

.selectric-wrapper {
  border: 0;
  outline: none;
  height: 50px;
}
.selectric-wrapper.selectric-hover .selectric {
  border-color: rgb(0, 0, 0);
}
.selectric-wrapper.selectric-open .selectric {
  border-color: rgb(0, 0, 0);
}
.selectric-wrapper.selectric-open .selectric .button {
  transform: scale(1, -1);
}
.selectric-wrapper.selectric-above .selectric-items {
  border: solid 1px rgb(0, 0, 0);
}
@media (max-width: 1549px) {
  .selectric-wrapper {
    height: 30px;
  }
}

.selectric {
  border: 0;
  background: transparent;
  width: 100%;
  height: 50px;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}
@media (max-width: 1549px) {
  .selectric {
    height: 30px;
  }
}
.selectric .label {
  font-weight: 400;
  height: 100%;
  padding: 10px 0;
  font-weight: 400;
  font-family: "Involve";
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0%;
  margin: 0;
  color: rgb(0, 0, 0);
  border-bottom: solid 1px rgb(159, 159, 159);
}
@media (max-width: 1549px) {
  .selectric .label {
    padding: 0;
    font-size: 12px;
  }
}
.selectric .button {
  display: none;
  width: 24px;
  height: 24px;
  background: transparent;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.5 1L7.5 7L13.5 1' stroke='%23222222' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
  transition: all 0.3s;
  top: 50%;
  right: 24px;
  margin-top: -12px;
}
.selectric .button::after {
  display: none;
}

.selectric-items {
  background: transparent;
  background-color: rgb(255, 255, 255);
  border: 0;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  box-shadow: 0px 6px 15px 0px rgba(98, 97, 97, 0.25);
  border-top: 0;
  overflow: hidden;
  z-index: -1;
  min-width: 140px;
  right: 0;
  left: auto;
}

.selectric-scroll {
  border: 0;
}
.selectric-scroll ul {
  padding-top: 5px;
}
.selectric-scroll ul li {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #7b7b7b;
  padding: 8px;
  transition: all 0.3s;
}
.selectric-scroll ul li.highlighted, .selectric-scroll ul li.selected {
  background: transparent !important;
  text-decoration: underline;
  color: rgb(0, 0, 0);
}
.selectric-scroll ul li:hover {
  background: transparent !important;
  color: rgb(0, 0, 0);
}

.selectric-open {
  z-index: 4;
}

.swiper-pagination-bullets {
  bottom: 0 !important;
  top: auto !important;
  left: 0;
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  z-index: 5;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 16px;
  height: 1px;
  opacity: 1;
  border-radius: 0;
  margin: 0 !important;
  flex: 1;
  position: relative;
  transition: all 0.3s;
  background-color: rgba(15, 15, 15, 0.2);
}
.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: rgb(0, 0, 0);
}

.burger {
  cursor: pointer;
  display: none;
  width: 50px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
  transition: transform 0.3s;
  pointer-events: none;
  position: relative;
  z-index: 3;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='27' height='20' viewBox='0 0 27 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2 10H25' stroke='white' stroke-width='3' stroke-linecap='round'/%3e%3cpath d='M2 2H25' stroke='white' stroke-width='3' stroke-linecap='round'/%3e%3cpath d='M2 18H25' stroke='white' stroke-width='3' stroke-linecap='round'/%3e%3c/svg%3e ");
}
@media (max-width: 1199px) {
  .burger {
    display: block;
    pointer-events: initial;
  }
}
@media (max-width: 767px) {
  .burger {
    width: 26px;
    height: 20px;
  }
}
.burger.opened .burger-line:nth-child(1) {
  transform: rotate(45deg) translate(4px, 5px);
}
.burger.opened .burger-line:nth-child(2) {
  width: 0;
}
.burger.opened .burger-line:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -5px);
}

.swiper-controls {
  position: relative;
  display: flex;
  gap: 10px;
}
@media (max-width: 767px) {
  .swiper-controls {
    gap: 6px;
  }
}

.swiperBtnPrev {
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 59px;
  height: 59px;
  min-width: 59px;
  border-radius: 50%;
  transition: all 0.3s;
  background-size: 14px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='20' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10 1L1 10L10 19' stroke='black'/%3e%3c/svg%3e ");
  background-color: rgb(255, 255, 255);
}
@media (max-width: 767px) {
  .swiperBtnPrev {
    width: 38px;
    height: 38px;
    min-width: 38px;
    background-size: 8px;
  }
}
.swiperBtnPrev.swiper-button-disabled {
  opacity: 0.33;
  pointer-events: none;
}
@media (hover: hover) {
  .swiperBtnPrev:hover {
    transform: scale(1.05);
  }
}

.swiperBtnNext {
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 59px;
  height: 59px;
  min-width: 59px;
  border-radius: 50%;
  transition: all 0.3s;
  background-size: 14px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='20' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L10 10L1 19' stroke='black'/%3e%3c/svg%3e ");
  background-color: rgb(255, 255, 255);
}
@media (max-width: 767px) {
  .swiperBtnNext {
    width: 38px;
    height: 38px;
    min-width: 38px;
    background-size: 8px;
  }
}
.swiperBtnNext.swiper-button-disabled {
  opacity: 0.33;
  pointer-events: none;
}
@media (hover: hover) {
  .swiperBtnNext:hover {
    transform: scale(1.05);
  }
}

.input-item {
  width: 100%;
}
.input-item input {
  width: 100%;
  height: 65px;
  border: 0;
  background-color: transparent;
  border-bottom: solid 1px rgb(255, 255, 255);
  border-radius: 0;
  font-size: 24px;
  padding: 0;
  color: rgb(255, 255, 255);
}
@media (max-width: 1023px) {
  .input-item input {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .input-item input {
    height: 45px;
  }
}
.input-item input::placeholder {
  text-transform: uppercase;
  opacity: 0.6;
}
.input-item textarea {
  width: 100%;
  height: 112px;
  background-color: rgb(255, 255, 255);
  border-radius: 9px;
  border: 0;
  padding: 12px 16px;
}

.check-block input {
  display: none;
}
.check-block input:checked + label:before {
  background-color: rgb(0, 0, 0);
}
.check-block input:checked + label::after {
  background-color: rgb(0, 0, 0);
  opacity: 1;
}
.check-block label {
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  padding-left: 24px;
  text-decoration-color: transparent;
  text-decoration-skip-ink: none;
  text-underline-offset: 1px;
  text-decoration-thickness: 1px;
  display: block;
  align-items: center;
  gap: 8px;
  padding-left: 70px;
  color: rgb(255, 255, 255);
}
@media (max-width: 1549px) {
  .check-block label {
    font-size: 14px;
    line-height: 17px;
    padding-left: 65px;
  }
}
@media (max-width: 1199px) {
  .check-block label {
    font-size: 12px;
  }
}
@media (max-width: 1023px) {
  .check-block label {
    padding-left: 50px;
  }
}
.check-block label a {
  text-decoration: underline;
  opacity: 0.3;
  transition: opacity 0.3s;
}
.check-block label a:hover {
  opacity: 1;
}
.check-block label::before {
  content: "";
  position: absolute;
  transition: all 0.3s;
  left: 0;
  top: 50%;
  width: 48px;
  height: 48px;
  border: 0;
  border-radius: 4px;
  overflow: hidden;
  transform: translateY(-50%);
  background-color: rgb(255, 255, 255);
}
@media (max-width: 1549px) {
  .check-block label::before {
    width: 42px;
    height: 42px;
  }
}
@media (max-width: 1023px) {
  .check-block label::before {
    width: 38px;
    height: 38px;
  }
}
.check-block label::after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  background-color: rgb(255, 255, 255);
  left: 0;
  top: 50%;
  width: 48px;
  height: 48px;
  opacity: 0;
  border-radius: 4px;
  overflow: hidden;
  transform: translateY(-50%);
  background-position: center;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='35' height='25' viewBox='0 0 35 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.5 9.5L13.8077 22L33.5 2' stroke='%23EDEADF' stroke-width='4'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
}
@media (max-width: 1549px) {
  .check-block label::after {
    width: 42px;
    height: 42px;
    background-size: 24px;
  }
}
@media (max-width: 1023px) {
  .check-block label::after {
    width: 38px;
    height: 38px;
    background-size: 50%;
  }
}

.radio-block {
  position: relative;
}
.radio-block label {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  position: relative;
  padding-left: 17px;
  cursor: pointer;
}
.radio-block label::before {
  content: "";
  position: absolute;
  transition: all 0.3s;
  left: -10px;
  top: 2px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: solid 1px rgb(0, 0, 0);
}
@media (max-width: 1549px) {
  .radio-block label::before {
    top: 0;
  }
}
.radio-block label::after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  left: -7px;
  top: 5px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  opacity: 0;
}
@media (max-width: 1549px) {
  .radio-block label::after {
    top: 3px;
  }
}
@media (max-width: 1549px) {
  .radio-block label {
    font-size: 12px;
  }
}
.radio-block input:checked + ::after {
  opacity: 1;
}

.play {
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='45' height='50' viewBox='0 0 45 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M41.0625 19.8399C45.0347 22.1333 45.0347 27.8667 41.0625 30.1601L9.43749 48.4188C5.46527 50.7121 0.499998 47.8454 0.499998 43.2587L0.499999 6.74129C0.5 2.15456 5.46528 -0.712135 9.4375 1.58123L41.0625 19.8399Z' fill='%23FA4F19'/%3e%3c/svg%3e ");
  background-position: calc(50% + 5px) center;
  background-repeat: no-repeat;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  z-index: 5;
}

.breadcrumbs {
  padding: 15px 0;
  position: relative;
  z-index: 3;
}
@media (max-width: 1549px) {
  .breadcrumbs {
    padding: 10px 0;
  }
}
@media (max-width: 767px) {
  .breadcrumbs {
    padding: 5px 0;
  }
}
.breadcrumbs ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 45px;
}
@media (max-width: 767px) {
  .breadcrumbs ul {
    gap: 0 37px;
    display: none;
  }
}
.breadcrumbs li:first-child .breadcrumbs-link::before {
  display: none;
}
.breadcrumbs .breadcrumbs-link {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration 0.3s;
}
.breadcrumbs .breadcrumbs-link:hover {
  text-decoration-color: rgb(0, 0, 0);
}
.breadcrumbs .breadcrumbs-link::before {
  content: "";
  position: absolute;
  transition: all 0.3s;
  left: -28.5px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.844676 0.861934C1.10503 0.601584 1.52714 0.601584 1.78749 0.861934L7.98275 7.0572C8.50345 7.5779 8.50345 8.42212 7.98275 8.94281L1.78749 15.1381C1.52714 15.3984 1.10503 15.3984 0.844676 15.1381C0.584327 14.8777 0.584327 14.4556 0.844676 14.1953L7.03994 8.00001L0.844676 1.80474C0.584327 1.54439 0.584327 1.12228 0.844676 0.861934Z' fill='%234E5457'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 14px;
  height: 14px;
}
.breadcrumbs span.breadcrumbs-link {
  text-decoration: none;
}
.breadcrumbs .breadcrumbs-link--main {
  position: relative;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='39' height='24' viewBox='0 0 39 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 4.67532C0 2.09321 2.09321 0 4.67532 0H33.974C36.5561 0 38.6493 2.09321 38.6493 4.67532V19.3247C38.6493 21.9068 36.5561 24 33.974 24H4.67532C2.09321 24 0 21.9068 0 19.3247V4.67532Z' fill='%234E5457'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.20801 4.51948C4.20801 3.91699 4.69642 3.42857 5.29892 3.42857H16.3639C17.9992 3.42857 19.3249 4.75428 19.3249 6.38961V10.2857C19.3249 10.8882 18.8365 11.3766 18.234 11.3766C17.6315 11.3766 17.1431 10.8882 17.1431 10.2857V6.38961C17.1431 5.95926 16.7942 5.61039 16.3639 5.61039H5.29892C4.69642 5.61039 4.20801 5.12198 4.20801 4.51948Z' fill='white'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M22.7378 9.1948C22.9797 9.1948 23.2179 9.13571 23.4318 9.02267L33.776 3.55501C34.3087 3.27346 34.9687 3.47702 35.2503 4.00968C35.5318 4.54235 35.3283 5.20239 34.7956 5.48394L24.4514 10.9516C23.9233 11.2307 23.3351 11.3766 22.7378 11.3766C21.3693 11.3766 20.2599 10.2672 20.2599 8.89865V4.51947C20.2599 3.91698 20.7483 3.42857 21.3508 3.42857C21.9533 3.42857 22.4417 3.91698 22.4417 4.51947V8.89865C22.4417 9.06221 22.5743 9.1948 22.7378 9.1948Z' fill='white'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M22.7947 14.4935C22.9993 14.4935 23.2007 14.5435 23.3815 14.639L33.776 20.1333C34.3087 20.4148 34.9687 20.2113 35.2503 19.6786C35.5318 19.146 35.3283 18.4859 34.7956 18.2044L24.4011 12.7101C23.9061 12.4485 23.3546 12.3117 22.7947 12.3117C21.3948 12.3117 20.2599 13.4466 20.2599 14.8466V19.1688C20.2599 19.7713 20.7483 20.2597 21.3508 20.2597C21.9533 20.2597 22.4417 19.7713 22.4417 19.1688V14.8466C22.4417 14.6516 22.5997 14.4935 22.7947 14.4935Z' fill='white'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.20801 19.1688C4.20801 19.7713 4.69642 20.2597 5.29892 20.2597H16.3639C17.9992 20.2597 19.3249 18.934 19.3249 17.2987V13.4026C19.3249 12.8001 18.8365 12.3117 18.234 12.3117C17.6315 12.3117 17.1431 12.8001 17.1431 13.4026V17.2987C17.1431 17.729 16.7942 18.0779 16.3639 18.0779H5.29892C4.69642 18.0779 4.20801 18.5663 4.20801 19.1688Z' fill='white'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.48047 11.8441C7.48047 12.4466 7.96889 12.9351 8.57138 12.9351H14.961C15.5635 12.9351 16.0519 12.4466 16.0519 11.8441C16.0519 11.2417 15.5635 10.7532 14.961 10.7532H8.57138C7.96889 10.7532 7.48047 11.2417 7.48047 11.8441Z' fill='white'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  width: 39px;
  height: 24px;
  display: flex;
  left: 1px;
}
.breadcrumbs .breadcrumbs__mobile {
  display: none;
  font-size: 12px;
  line-height: 24px;
  position: relative;
}
.breadcrumbs .breadcrumbs__mobile::before {
  content: "";
  position: absolute;
  transition: all 0.3s;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.844676 0.861934C1.10503 0.601584 1.52714 0.601584 1.78749 0.861934L7.98275 7.0572C8.50345 7.5779 8.50345 8.42212 7.98275 8.94281L1.78749 15.1381C1.52714 15.3984 1.10503 15.3984 0.844676 15.1381C0.584327 14.8777 0.584327 14.4556 0.844676 14.1953L7.03994 8.00001L0.844676 1.80474C0.584327 1.54439 0.584327 1.12228 0.844676 0.861934Z' fill='%234E5457'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transform: scale(-1, -1);
  display: block;
  width: 24px;
  height: 24px;
}
@media (max-width: 767px) {
  .breadcrumbs .breadcrumbs__mobile {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.pagination {
  margin-top: 32px;
}
.pagination ul {
  display: flex;
  align-items: center;
  gap: 8px;
}
.pagination .pagination-link {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  transition: all 0.3s;
  border-radius: 8px;
}
@media (max-width: 639px) {
  .pagination .pagination-link {
    width: 32px;
    height: 32px;
    font-size: 14px;
  }
}
.pagination .pagination-link.active {
  background-color: rgba(78, 84, 87, 0.2);
}
.pagination a.pagination-link {
  cursor: pointer;
}
@media (hover: hover) {
  .pagination a.pagination-link:hover {
    background-color: rgba(78, 84, 87, 0.2);
  }
}

.swiper-controls-simple {
  display: flex;
  align-items: center;
  gap: 8px;
}
.swiper-controls-simple .btnSwiperPrev {
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.79776 0.213013C7.5281 -0.0710044 7.0909 -0.0710044 6.82124 0.213013L0.404486 6.97148C-0.13483 7.53952 -0.134828 8.46048 0.404486 9.02852L6.82124 15.787C7.0909 16.071 7.5281 16.071 7.79776 15.787C8.06741 15.503 8.06741 15.0425 7.79776 14.7585L1.381 8L7.79776 1.24153C8.06741 0.957515 8.06741 0.497031 7.79776 0.213013Z' fill='%234E5457'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  border: solid 1px rgb(0, 0, 0);
  transition: all 0.3s;
}
@media (hover: hover) {
  .swiper-controls-simple .btnSwiperPrev:hover {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.79776 0.213013C7.5281 -0.0710044 7.0909 -0.0710044 6.82124 0.213013L0.404486 6.97148C-0.13483 7.53952 -0.134828 8.46048 0.404486 9.02852L6.82124 15.787C7.0909 16.071 7.5281 16.071 7.79776 15.787C8.06741 15.503 8.06741 15.0425 7.79776 14.7585L1.381 8L7.79776 1.24153C8.06741 0.957515 8.06741 0.497031 7.79776 0.213013Z' fill='%23fff'/%3e%3c/svg%3e ");
    background-color: rgb(0, 0, 0);
    border-color: rgb(255, 255, 255);
  }
}
.swiper-controls-simple .btnSwiperNext {
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.202243 0.213013C0.471901 -0.0710044 0.909102 -0.0710044 1.17876 0.213013L7.59551 6.97148C8.13483 7.53952 8.13483 8.46048 7.59551 9.02852L1.17876 15.787C0.909101 16.071 0.4719 16.071 0.202242 15.787C-0.0674151 15.503 -0.067415 15.0425 0.202242 14.7585L6.619 8L0.202243 1.24153C-0.0674144 0.957515 -0.0674144 0.497031 0.202243 0.213013Z' fill='%234E5457'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  border: solid 1px rgb(0, 0, 0);
  transition: all 0.3s;
}
@media (hover: hover) {
  .swiper-controls-simple .btnSwiperNext:hover {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.202243 0.213013C0.471901 -0.0710044 0.909102 -0.0710044 1.17876 0.213013L7.59551 6.97148C8.13483 7.53952 8.13483 8.46048 7.59551 9.02852L1.17876 15.787C0.909101 16.071 0.4719 16.071 0.202242 15.787C-0.0674151 15.503 -0.067415 15.0425 0.202242 14.7585L6.619 8L0.202243 1.24153C-0.0674144 0.957515 -0.0674144 0.497031 0.202243 0.213013Z' fill='%23fff'/%3e%3c/svg%3e ");
    background-color: rgb(0, 0, 0);
    border-color: rgb(255, 255, 255);
  }
}

.overlay {
  background-color: #edeadf;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
.overlay.visible {
  pointer-events: initial;
  opacity: 0.9;
}

.bgArrows {
  width: 385px;
  height: 411px;
}
@media (max-width: 767px) {
  .bgArrows {
    width: 184px;
    height: 200px;
  }
}
.bgArrows::after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='338' height='413' viewBox='0 0 338 413' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg opacity='0.43'%3e%3cpath d='M-48 112.14L144.5 1L337 112.14' stroke='%238B8B8B'/%3e%3cpath d='M-48 185.613L144.5 74.4733L337 185.613' stroke='%238B8B8B'/%3e%3cpath d='M-48 262.025L144.5 150.885L337 262.025' stroke='%238B8B8B'/%3e%3cpath d='M-48 335.499L144.5 224.359L337 335.499' stroke='%238B8B8B'/%3e%3cpath d='M-48 411.911L144.5 300.771L337 411.911' stroke='%238B8B8B'/%3e%3c/g%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.btn {
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  position: relative;
  color: rgb(0, 0, 0);
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  padding: 15px 15px;
  border-radius: 60px;
  font-variant-ligatures: none;
  font-family: "Involve";
  width: 100%;
  min-height: 50px;
}
@media (max-width: 1023px) {
  .btn {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: 12px;
    line-height: 16px;
  }
}
.btn--black {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
@media (hover: hover) {
  .btn--black:hover {
    background-color: #f59e11;
  }
}
.btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.caption {
  font-family: "Involve";
  font-weight: 600;
}

h1,
.caption--h1 {
  font-size: 89px;
  line-height: 100px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 1549px) {
  h1,
  .caption--h1 {
    font-size: 69px;
    line-height: 80px;
  }
}
@media (max-width: 1199px) {
  h1,
  .caption--h1 {
    font-size: 59px;
    line-height: 70px;
  }
}
@media (max-width: 1023px) {
  h1,
  .caption--h1 {
    font-size: 49px;
    line-height: 60px;
  }
}
@media (max-width: 767px) {
  h1,
  .caption--h1 {
    font-size: 30px;
    line-height: 38px;
  }
}

h2,
.caption--h2 {
  font-size: 89px;
  line-height: 100px;
  font-weight: 400;
}
@media (max-width: 1549px) {
  h2,
  .caption--h2 {
    font-size: 69px;
    line-height: 80px;
  }
}
@media (max-width: 1199px) {
  h2,
  .caption--h2 {
    font-size: 59px;
    line-height: 70px;
  }
}
@media (max-width: 1023px) {
  h2,
  .caption--h2 {
    font-size: 49px;
    line-height: 60px;
  }
}
@media (max-width: 767px) {
  h2,
  .caption--h2 {
    font-size: 30px;
    line-height: 38px;
  }
}
h3,
.caption--h3 {
  font-weight: 400;
  font-size: 55px;
  line-height: 60px;
}
@media (max-width: 1549px) {
  h3,
  .caption--h3 {
    font-size: 40px;
    line-height: 45px;
  }
}
@media (max-width: 767px) {
  h3,
  .caption--h3 {
    font-size: 28px;
    line-height: 30px;
  }
}
@media (max-width: 389px) {
  h3,
  .caption--h3 {
    font-size: 24px;
  }
}

.caption--small {
  font-family: "Cygre";
  font-weight: 400;
  font-size: 83px;
  line-height: 53px;
}
@media (max-width: 1549px) {
  .caption--small {
    font-size: 66px;
  }
}
@media (max-width: 1199px) {
  .caption--small {
    font-size: 59px;
    line-height: 40px;
  }
}
@media (max-width: 1023px) {
  .caption--small {
    font-size: 44px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .caption--small {
    font-size: 30px;
    line-height: 38px;
  }
}
@media (max-width: 389px) {
  .caption--small {
    font-size: 24px;
    line-height: 30px;
  }
}

.modal {
  font-family: "Involve";
  display: none;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  color: rgb(0, 0, 0);
}

.modal.is-open {
  display: flex;
  position: fixed;
  z-index: 20;
}

.modal__container {
  overflow: auto;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  padding: 50px 0;
  max-width: 1050px;
  position: relative;
  margin: auto;
}
@media (max-width: 1199px) {
  .modal__container {
    max-width: 730px;
  }
}
@media (max-width: 767px) {
  .modal__container {
    max-width: calc(100% - 20px);
  }
}

.modal__content {
  padding: 0;
  margin: 0;
  position: relative;
}

.modal__inner {
  position: relative;
}

.modal__close {
  cursor: pointer;
  transition: all 0.3s;
  position: absolute;
  right: 0;
  top: 45px;
  display: flex;
  z-index: 10;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #292929;
  align-items: center;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='41' height='42' viewBox='0 0 41 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M40.2989 1.48466C41.0797 2.26569 41.0797 3.5321 40.2989 4.31309L23.3269 21.285L40.2996 38.2577C41.0806 39.0387 41.0806 40.3051 40.2996 41.0861C39.5185 41.867 38.2521 41.8671 37.4711 41.0861L20.4985 24.1135L3.52932 41.0826C2.74834 41.8636 1.48196 41.8635 0.700892 41.0826C-0.0801572 40.3016 -0.0801559 39.0353 0.700892 38.2542L17.6701 21.285L0.701583 4.31654C-0.0792663 3.53552 -0.0793054 2.26912 0.701583 1.48812C1.48258 0.707122 2.74895 0.707232 3.53001 1.48812L20.4985 18.4566L37.4704 1.48466C38.2515 0.703738 39.5179 0.703656 40.2989 1.48466Z' fill='%23FA4F19'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  width: 56px;
  height: 56px;
}
@media (max-width: 1199px) {
  .modal__close {
    width: 30px;
    height: 30px;
    top: 50px;
    background-size: contain;
  }
}
@media (max-width: 767px) {
  .modal__close {
    width: 20px;
    height: 20px;
    top: 50px;
    background-size: contain;
    right: 10px;
  }
}
.modal__close svg {
  pointer-events: none;
}
.modal__close:hover {
  opacity: 0.75;
}

.modal__content {
  border-radius: 9px;
}
.modal__content .scroll::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  margin-right: 12px;
}
.modal__content .scroll::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 10px;
}
.modal__content .scroll::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 10px;
}

.modal__overlay {
  background-color: #edeadf;
  transition: all 0.3s;
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: inherit;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 0;
  transition: background-color 0.3s, padding 0.3s;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  z-index: 10;
}
@media (max-width: 1549px) {
  .header {
    padding: 20px 0;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 13px 0;
  }
}
.header.scroll {
  padding: 12.5px 0;
  background-color: rgb(255, 255, 255);
}
@media (max-width: 1549px) {
  .header.scroll {
    padding: 10px 0;
  }
}
.header.scroll .burger {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='27' height='20' viewBox='0 0 27 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2 10H25' stroke='%23000' stroke-width='3' stroke-linecap='round'/%3e%3cpath d='M2 2H25' stroke='%23000' stroke-width='3' stroke-linecap='round'/%3e%3cpath d='M2 18H25' stroke='%23000' stroke-width='3' stroke-linecap='round'/%3e%3c/svg%3e ");
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1199px) {
  .header__inner .logo {
    left: 8px;
  }
}
.header__inner .menu {
  padding: 0 125px;
}
@media (max-width: 1549px) {
  .header__inner .menu {
    padding: 0 50px;
  }
}
@media (max-width: 1199px) {
  .header__inner .menu {
    padding: 16px 16px 45px;
  }
}
.menu {
  width: 100%;
}
@media (max-width: 1199px) {
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom-right-radius: 20px;
    z-index: 11;
    max-width: 95%;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    display: none;
  }
}
.menu .menu-close {
  display: none;
}
@media (max-width: 1199px) {
  .menu .menu-close {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2 2L17.6408 14.6376' stroke='black' stroke-width='3' stroke-linecap='round'/%3e%3cpath d='M18 2L2.35916 14.6376' stroke='black' stroke-width='3' stroke-linecap='round'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: flex;
    margin-bottom: 46px;
    margin-top: 20px;
  }
}
.menu .menu__logo {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 46px;
  height: 46px;
  display: none;
}
@media (max-width: 1199px) {
  .menu .menu__logo {
    display: block;
  }
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1199px) {
  .menu__list {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
}

.menu__link {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration 0.3s;
}
.menu__link:hover {
  text-decoration-color: rgb(0, 0, 0);
}

.link-chat {
  width: 245px;
  min-width: 245px;
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border-radius: 60px;
  color: rgb(255, 255, 255);
  padding: 6px;
  transition: background-color 0.3s;
  font-size: 14px;
}
@media (max-width: 1549px) {
  .link-chat {
    width: 210px;
    min-width: 210px;
    gap: 0;
    padding: 4px 6px;
  }
}
@media (max-width: 1199px) {
  .link-chat {
    width: 50px;
    height: 50px;
    min-width: 50px;
    padding: 0;
    background-color: transparent;
  }
}
@media (max-width: 767px) {
  .link-chat {
    width: 39px;
    height: 39px;
    min-width: 39px;
  }
}
@media (hover: hover) {
  .link-chat:hover {
    background-color: #f59e11;
  }
  .link-chat:hover .link-chat__icon::before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M23.0657 14.7221C22.9017 15.0916 22.6182 15.2198 22.2187 15.2031C21.6448 15.1788 21.0685 15.1967 20.4877 15.1967C20.4415 14.7995 20.4121 14.4138 20.3503 14.0333C20.113 12.5633 19.4883 11.266 18.5367 10.1308C16.893 8.17065 14.7676 7.03495 12.2786 6.55285C10.2901 6.16774 8.32877 6.30342 6.39861 6.91428C6.35877 6.92698 6.3172 6.93333 6.23926 6.95123C6.26986 6.80631 6.29064 6.68218 6.32298 6.56093C6.76698 4.89289 7.7641 3.61863 9.1498 2.63305C10.5228 1.65671 12.0627 1.12437 13.7382 0.975411C13.7936 0.970215 13.8479 0.948275 13.9027 0.934418C14.3779 0.934418 14.8537 0.934418 15.3289 0.934418C15.3912 0.947697 15.4536 0.968483 15.5171 0.973679C16.8514 1.08684 18.1124 1.45174 19.2764 2.11457C21.0449 3.12151 22.3232 4.53839 22.8699 6.54014C22.956 6.85539 23.001 7.18218 23.0651 7.50378C23.0651 7.8785 23.0651 8.25264 23.0651 8.62735C23.0281 8.83059 22.9935 9.0344 22.9531 9.23648C22.7308 10.3514 22.2377 11.3352 21.505 12.1996C21.4126 12.3087 21.4011 12.382 21.5044 12.4871C21.6303 12.6147 21.7441 12.755 21.8578 12.8936C22.2614 13.3866 22.6632 13.8815 23.0651 14.3751C23.0657 14.4917 23.0657 14.6072 23.0657 14.7221Z' fill='%23F59E11'/%3e%3cpath d='M2.76524 20.0773C2.47309 19.6529 2.16188 19.2551 1.90726 18.8238C0.340268 16.1679 0.697663 12.9455 2.79469 10.677C4.25025 9.10254 6.06031 8.17586 8.15445 7.80922C10.8739 7.33289 13.4276 7.78555 15.7435 9.32368C17.3237 10.3728 18.4629 11.7804 18.9548 13.6419C19.4837 15.6436 19.1067 17.508 17.9167 19.1771C16.3687 21.3481 14.2244 22.5877 11.6014 23.0057C11.2977 23.0542 10.9842 23.06 10.6753 23.06C7.67927 23.064 4.68328 23.0606 1.68728 23.0652C1.37723 23.0658 1.13069 22.9745 0.997897 22.6853C0.860482 22.3862 0.959791 22.1339 1.16995 21.8972C1.71095 21.2909 2.24272 20.6754 2.76524 20.0773ZM8.76069 15.1927C8.75781 15.8925 9.345 16.4866 10.0465 16.4935C10.7445 16.5004 11.3421 15.9144 11.3531 15.2129C11.3635 14.5068 10.7648 13.9011 10.0563 13.9017C9.35539 13.9017 8.76358 14.4918 8.76069 15.1927ZM13.9986 13.9017C13.2994 13.8953 12.7036 14.4808 12.6938 15.1834C12.6845 15.8821 13.2665 16.4802 13.9698 16.4941C14.6742 16.5079 15.2833 15.9098 15.2856 15.2013C15.2879 14.501 14.7001 13.9074 13.9986 13.9017ZM6.13075 13.9017C5.43155 13.8965 4.83628 14.4831 4.82762 15.1852C4.81896 15.8832 5.40326 16.4814 6.10535 16.4941C6.81032 16.5068 7.41887 15.9075 7.41945 15.1996C7.42061 14.4987 6.83284 13.9063 6.13075 13.9017Z' fill='%23F59E11'/%3e%3c/svg%3e ");
  }
}
.link-chat .link-chat__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 28px;
  width: 100%;
}
@media (max-width: 1549px) {
  .link-chat .link-chat__link {
    gap: 20px;
  }
}
.link-chat .link-chat__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-left: auto;
  white-space: nowrap;
}
@media (max-width: 1549px) {
  .link-chat .link-chat__text {
    font-size: 12px;
  }
}
@media (max-width: 1199px) {
  .link-chat .link-chat__text {
    display: none;
  }
}
.link-chat .link-chat__icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: relative;
  display: flex;
}
@media (max-width: 1199px) {
  .link-chat .link-chat__icon {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 767px) {
  .link-chat .link-chat__icon {
    width: 39px;
    height: 39px;
  }
}
.link-chat .link-chat__icon::before {
  content: "";
  position: absolute;
  transition: all 0.3s;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M23.0657 14.7221C22.9017 15.0916 22.6182 15.2198 22.2187 15.2031C21.6448 15.1788 21.0685 15.1967 20.4877 15.1967C20.4415 14.7995 20.4121 14.4138 20.3503 14.0333C20.113 12.5633 19.4883 11.266 18.5367 10.1308C16.893 8.17065 14.7676 7.03496 12.2786 6.55285C10.2901 6.16774 8.32877 6.30343 6.39861 6.91429C6.35877 6.92699 6.3172 6.93334 6.23926 6.95124C6.26986 6.80632 6.29064 6.68218 6.32298 6.56094C6.76698 4.8929 7.7641 3.61864 9.1498 2.63306C10.5228 1.65672 12.0627 1.12438 13.7382 0.975419C13.7936 0.970223 13.8479 0.948282 13.9027 0.934425C14.3779 0.934425 14.8537 0.934425 15.3289 0.934425C15.3912 0.947705 15.4536 0.96849 15.5171 0.973687C16.8514 1.08685 18.1124 1.45175 19.2764 2.11458C21.0449 3.12152 22.3232 4.53839 22.8699 6.54015C22.956 6.8554 23.001 7.18219 23.0651 7.50379C23.0651 7.8785 23.0651 8.25264 23.0651 8.62736C23.0281 8.83059 22.9935 9.03441 22.9531 9.23649C22.7308 10.3514 22.2377 11.3352 21.505 12.1996C21.4126 12.3087 21.4011 12.382 21.5044 12.4871C21.6303 12.6147 21.7441 12.755 21.8578 12.8936C22.2614 13.3867 22.6632 13.8815 23.0651 14.3751C23.0657 14.4917 23.0657 14.6072 23.0657 14.7221Z' fill='black'/%3e%3cpath d='M2.76524 20.0773C2.47309 19.6529 2.16188 19.2551 1.90726 18.8238C0.340268 16.1679 0.697663 12.9455 2.79469 10.677C4.25025 9.10254 6.06031 8.17586 8.15445 7.80922C10.8739 7.33289 13.4276 7.78555 15.7435 9.32368C17.3237 10.3728 18.4629 11.7804 18.9548 13.6419C19.4837 15.6436 19.1067 17.508 17.9167 19.1771C16.3687 21.3481 14.2244 22.5877 11.6014 23.0057C11.2977 23.0542 10.9842 23.06 10.6753 23.06C7.67927 23.064 4.68328 23.0606 1.68728 23.0652C1.37723 23.0658 1.13069 22.9745 0.997897 22.6853C0.860482 22.3862 0.959791 22.1339 1.16995 21.8972C1.71095 21.2909 2.24272 20.6754 2.76524 20.0773ZM8.76069 15.1927C8.75781 15.8925 9.345 16.4866 10.0465 16.4935C10.7445 16.5004 11.3421 15.9144 11.3531 15.2129C11.3635 14.5068 10.7648 13.9011 10.0563 13.9017C9.35539 13.9017 8.76358 14.4918 8.76069 15.1927ZM13.9986 13.9017C13.2994 13.8953 12.7036 14.4808 12.6938 15.1834C12.6845 15.8821 13.2665 16.4802 13.9698 16.4941C14.6742 16.5079 15.2833 15.9098 15.2856 15.2013C15.2879 14.501 14.7001 13.9074 13.9986 13.9017ZM6.13075 13.9017C5.43155 13.8965 4.83628 14.4831 4.82762 15.1852C4.81896 15.8832 5.40326 16.4814 6.10535 16.4941C6.81032 16.5068 7.41887 15.9075 7.41945 15.1996C7.42061 14.4987 6.83284 13.9063 6.13075 13.9017Z' fill='black'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 767px) {
  .link-chat .link-chat__icon::before {
    background-size: 20px;
  }
}

.footer {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px -10px 2px 0px rgba(0, 0, 0, 0.0509803922);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  position: relative;
  z-index: 5;
  padding-top: 55px;
  padding-bottom: 42px;
}
@media (max-width: 1549px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
.footer .footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media (max-width: 1199px) {
  .footer .footer__inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
.footer .footer-col {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (max-width: 1199px) {
  .footer .footer-col {
    justify-content: center;
    align-items: center;
  }
}
.footer .footer-col:nth-child(1) {
  width: 155px;
  min-width: 155px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #898989;
  gap: 22px;
}
.footer .footer-col:nth-child(2) {
  width: calc(100% - 155px - 360px);
  padding: 45px 20px 45px 50px;
}
@media (max-width: 1549px) {
  .footer .footer-col:nth-child(2) {
    width: calc(100% - 155px - 280px);
    padding: 45px 20px 45px 20px;
  }
}
@media (max-width: 1199px) {
  .footer .footer-col:nth-child(2) {
    order: 2;
    width: 100%;
    padding: 0;
  }
}
.footer .footer-col:nth-child(3) {
  width: 360px;
  min-width: 360px;
  align-items: flex-end;
  gap: 93px;
  padding-top: 20px;
}
@media (max-width: 1549px) {
  .footer .footer-col:nth-child(3) {
    width: 280px;
    min-width: 280px;
  }
}
@media (max-width: 1199px) {
  .footer .footer-col:nth-child(3) {
    gap: 14px;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
.footer .footer-col .logo {
  padding: 0;
  width: 95px;
  height: 95px;
}
@media (max-width: 1549px) {
  .footer .footer-col .logo {
    width: 95px;
    height: 95px;
    min-width: 95px;
  }
}
@media (max-width: 767px) {
  .footer .footer-col .logo {
    width: 75px;
    height: 75px;
    min-width: 75px;
  }
}
.footer .footer-top__menu {
  width: 100%;
}
@media (max-width: 1199px) {
  .footer .footer-top__menu .menu__list {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 20px;
    justify-content: center;
  }
}
@media (max-width: 1199px) {
  .footer .link-chat {
    display: block;
    width: 210px;
    min-width: 210px;
    padding: 4px 6px;
    background-color: rgb(0, 0, 0);
    height: auto;
  }
}
@media (max-width: 1199px) {
  .footer .link-chat .link-chat__text {
    display: block;
  }
}
.footer .phone-link {
  font-weight: 400;
  font-size: 44px;
  line-height: 46px;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration 0.3s;
}
.footer .phone-link:hover {
  text-decoration-color: rgb(0, 0, 0);
}
@media (max-width: 1549px) {
  .footer .phone-link {
    font-size: 34px;
    line-height: 40px;
  }
}
@media (max-width: 767px) {
  .footer .phone-link {
    font-size: 24px;
    line-height: 26px;
  }
}
.footer .phone-mail {
  position: absolute;
  bottom: 10px;
  left: calc(-100% + 20px);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration 0.3s;
}
.footer .phone-mail:hover {
  text-decoration-color: rgb(0, 0, 0);
}
@media (max-width: 1199px) {
  .footer .phone-mail {
    position: relative;
    bottom: auto;
    left: auto;
    order: -1;
  }
}
.footer .footer-info {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: -28px;
}
@media (max-width: 1549px) {
  .footer .footer-info {
    width: 45%;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 1199px) {
  .footer .footer-info {
    margin: 0;
    width: 100%;
    order: 4;
  }
}
@media (max-width: 767px) {
  .footer .footer-info {
    font-size: 14px;
    line-height: 20px;
    margin-top: 20px;
  }
}
.footer .footer-info p {
  max-width: 265px;
}
@media (max-width: 767px) {
  .footer .footer-info p {
    max-width: 170px;
  }
}
@media (max-width: 479px) {
  .footer .footer-info p + p {
    max-width: 100px;
  }
}
.footer .footer-bottom {
  color: #8e8e8e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 44px;
}
@media (max-width: 1549px) {
  .footer .footer-bottom {
    margin-top: 30px;
  }
}
@media (max-width: 1199px) {
  .footer .footer-bottom {
    order: 5;
  }
}
@media (max-width: 767px) {
  .footer .footer-bottom {
    flex-direction: column;
    gap: 20px;
  }
}
.footer .footer-bottom a:not(.develop__link) {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration 0.3s;
}
.footer .footer-bottom a:not(.develop__link):hover {
  text-decoration-color: #8e8e8e;
}

.develop {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: right;
  color: #8e8e8e;
}

.develop__link {
  text-decoration: underline;
  transition: text-decoration 0.3s;
}
@media (hover: hover) {
  .develop__link:hover {
    text-decoration-color: transparent;
  }
}

.footer-data {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #8e8e8e;
  margin-top: 10px;
}
@media (max-width: 1199px) {
  .footer-data {
    order: 3;
    text-align: center;
    display: block;
    margin: 0;
  }
}
@media (max-width: 1199px) {
  .footer-data span {
    display: inline-block;
    margin: 5px;
  }
}
@media (max-width: 767px) {
  .footer-data span {
    margin: 2px;
  }
}

.grettings-main {
  padding: 170px 0;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 3;
  min-height: 655px;
}
@media (max-width: 1549px) {
  .grettings-main {
    padding: 150px 0;
  }
}
@media (max-width: 1199px) {
  .grettings-main {
    padding: 140px 0;
  }
}
@media (max-width: 767px) {
  .grettings-main {
    padding: 100px 0;
  }
}
.grettings-main::before {
  content: "";
  position: absolute;
  transition: all 0.3s;
  background-image: url("../../../img/cloud.png");
  background-image: image-set(url("../../../img/cloud.webp") type("image/webp"), url("../../../img/cloud.png") type("image/png"));
  width: 100%;
  height: 523px;
  background-position: center;
  background-repeat: no-repeat;
  bottom: -281px;
  left: 0;
  background-size: cover;
  pointer-events: none;
}
.grettings-main .caption {
  display: flex;
  flex-direction: column;
}
.grettings-main .caption span:nth-child(2) {
  margin-left: auto;
  font-size: 84px;
  padding-right: 31px;
}
@media (max-width: 1549px) {
  .grettings-main .caption span:nth-child(2) {
    font-size: 66px;
    padding-right: 15px;
  }
}
@media (max-width: 1199px) {
  .grettings-main .caption span:nth-child(2) {
    font-size: 59px;
    line-height: 70px;
  }
}
@media (max-width: 1023px) {
  .grettings-main .caption span:nth-child(2) {
    font-size: 49px;
    line-height: 60px;
  }
}
@media (max-width: 767px) {
  .grettings-main .caption span:nth-child(2) {
    font-size: 30px;
    line-height: 38px;
    color: rgb(255, 255, 255);
    padding-right: 0;
    margin: 0;
  }
}
.grettings-main .caption--small {
  text-transform: uppercase;
  display: block;
  margin-left: auto;
  padding-right: 50px;
}
@media (max-width: 1549px) {
  .grettings-main .caption--small {
    padding-right: 30px;
  }
}
@media (max-width: 1023px) {
  .grettings-main .caption--small {
    padding-right: 15px;
  }
}
@media (max-width: 767px) {
  .grettings-main .caption--small {
    padding-right: 0;
  }
}
.grettings-main .picture-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.grettings-main .picture-block img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.our-villages {
  background-color: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
}
.our-villages .container {
  position: relative;
  z-index: 3;
}
.our-villages .our-villages__list {
  display: flex;
  flex-direction: column;
  gap: 67px;
  margin-top: 30px;
}
@media (max-width: 1549px) {
  .our-villages .our-villages__list {
    gap: 40px;
  }
}
.our-villages .our-villages__item {
  width: 100%;
  position: relative;
}
.our-villages .our-villages__item:nth-child(2n) .bgArrows {
  left: auto;
  right: -245px;
  top: -250px;
}
@media (max-width: 767px) {
  .our-villages .our-villages__item:nth-child(2n) .bgArrows {
    top: -50px;
    left: auto;
    right: -40px;
  }
}
.our-villages .our-villages__slider {
  width: 100%;
  position: relative;
  border-radius: 60px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .our-villages .our-villages__slider {
    border-radius: 30px;
  }
}
.our-villages .our-villages__slider .swiper-slide {
  position: relative;
  width: 100%;
  height: 790px;
  border-radius: 60px;
  overflow: hidden;
  padding: 30px;
}
@media (max-width: 1549px) {
  .our-villages .our-villages__slider .swiper-slide {
    height: 600px;
  }
}
@media (max-width: 1199px) {
  .our-villages .our-villages__slider .swiper-slide {
    height: 500px;
    padding: 20px;
  }
}
@media (max-width: 767px) {
  .our-villages .our-villages__slider .swiper-slide {
    border-radius: 30px;
    padding: 11px;
    height: auto;
    padding-top: 120.5633802817%;
    min-height: 428px;
  }
}
.our-villages .our-villages__slider .picture-block {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.our-villages .our-villages__slider .picture-block::before {
  content: "";
  position: absolute;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}
.our-villages .our-villages__slider .swiper-controls {
  position: absolute;
  bottom: 35px;
  right: 40px;
  z-index: 3;
}
@media (max-width: 1199px) {
  .our-villages .our-villages__slider .swiper-controls {
    right: 30px;
    bottom: 30px;
  }
}
@media (max-width: 767px) {
  .our-villages .our-villages__slider .swiper-controls {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    bottom: 10px;
  }
}
.our-villages .our-villages__content {
  background-color: rgb(255, 255, 255);
  padding: 40px 30px 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 2;
  border-radius: 50px;
  width: 404px;
}
@media (max-width: 1549px) {
  .our-villages .our-villages__content {
    padding: 24px 30px;
  }
}
@media (max-width: 1549px) {
  .our-villages .our-villages__content {
    width: 350px;
  }
}
@media (max-width: 767px) {
  .our-villages .our-villages__content {
    left: 11px;
    top: 11px;
    width: calc(100% - 22px);
    padding: 16px;
    border-radius: 25px;
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 767px) {
  .our-villages .our-villages__content .caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .our-villages .our-villages__content .caption br {
    display: none;
  }
}
@media (max-width: 389px) {
  .our-villages .our-villages__content .caption {
    flex-wrap: wrap;
    gap: 10px;
  }
}
.our-villages .our-villages__content .caption img {
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .our-villages .our-villages__content .caption img {
    max-width: 30%;
  }
}
.our-villages .our-villages__content .btn {
  width: 100%;
  max-width: 230px;
}
@media (max-width: 1199px) {
  .our-villages .our-villages__content .btn {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .our-villages .our-villages__content .btn {
    max-width: 170px;
  }
}
.our-villages .bgArrows {
  position: absolute;
  top: -80px;
  left: -245px;
  pointer-events: none;
}
@media (max-width: 767px) {
  .our-villages .bgArrows {
    top: -50px;
    left: -40px;
  }
}

/*# sourceMappingURL=style.css.map */
