.grettings-main {
  padding: 170px 0;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 3;
  min-height: 655px;

  @include responsive1549 {
    padding: 150px 0;
  }

  @include responsive1199 {
    padding: 140px 0;
  }

  @include responsive767 {
    padding: 100px 0;
  }

  @include before {
    background-image: url("./../../img/cloud.png");
    background-image: image-set(
      url("./../../img/cloud.webp") type("image/webp"),
      url("./../../img/cloud.png") type("image/png")
    );
    width: 100%;
    height: 523px;
    background-position: center;
    background-repeat: no-repeat;
    bottom: -281px;
    left: 0;
    background-size: cover;
    pointer-events: none;
  }

  .caption {
    display: flex;
    flex-direction: column;

    span:nth-child(2) {
      margin-left: auto;
      font-size: 84px;
      padding-right: 31px;

      @include responsive1549 {
        font-size: 66px;
        padding-right: 15px;
      }

      @include responsive1199 {
        font-size: 59px;
        line-height: 70px;
      }

      @include responsive1023 {
        font-size: 49px;
        line-height: 60px;
      }

      @include responsive767 {
        font-size: 30px;
        line-height: 38px;
        color: $colorWhite;
        padding-right: 0;
        margin: 0;
      }
    }
  }

  .caption--small {
    text-transform: uppercase;
    display: block;
    margin-left: auto;
    padding-right: 50px;

    @include responsive1549 {
      padding-right: 30px;
    }

    @include responsive1023 {
      padding-right: 15px;
    }

    @include responsive767 {
      padding-right: 0;
    }
  }

  .picture-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      //   object-position: center -180px;
    }
  }
}
